* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

html {
    scroll-behavior: smooth;
}

/* INÍCIO HEADER */

.nav {
    background-color: rgb(35, 35, 35);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    z-index: 9;
    /* Z-INDEX COMO SE FOSSE UM NÍVEL DO "MANDAR PARA FRENTE DO SITE" */
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(201, 210, 219);
    padding: 20px;
}

.nav-list a:hover {
    color: white;
}

/* FIM HEADER */

/* INÍCIO MAIN */

.main {
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background-image: url(images/programador.png);
    background-size: cover;
    padding-left: 13%;
    padding-top: 13%
}

.main h1 {
    color: white;
    font-size: 54px;
}

.main p {
    font-size: 24px;
    font-style: italic;
    color: #0c0ce5;
    margin-top: 10px;
    margin-bottom: 25px;
}

main a {
    text-decoration: none;
    color: black;
}

.botao-inicial {
    cursor: pointer;
    background-color: rgb(201, 210, 219);
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.7s;
}

.botao-inicial:hover {
    background-color: white;
    transform: scale(1.1);
}

/* FIM MAIN */

/* INÍCIO SOBRE */

.sobre {
    background-color: white;
    width: 100%;
    padding: 120px 13% 80px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;

}

.sobre div {
    max-width: 50%;
    padding-right: 40px;
}

.sobre img {
    max-width: 450px;
    border-radius: 8px;

}

.sobre div h2 {
    font-size: 32px;
    margin-bottom: 14px;
}

/* FIM SOBRE */

/* INÍCIO PROJETOS */

.projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0px 10px 0px;
}

.projetos h2 {
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projetos p {
    margin-bottom: 30px;
    font-style: italic;
}

.imagens-projetos {
    width: 100%;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.imagens-projetos img {
    width: 18%;
    margin-left: 1.2%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.7s;
}

.imagens-projetos img:hover {
    opacity: 1;
}

.botao-orcamento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 18px;
}

.botao-orcamento button {
    background-color: rgb(55, 55, 55);
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    transition: 0.7s;

}

.botao-orcamento button:hover {
    transform: scale(1.1);
    background-color: black;
    cursor: pointer;
}

/* FIM PROJETOS */


/* INÍCIO RODAPÉ */

.rodape {
    width: 100%;
    background-color: rgb(35, 35, 35);
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;



    color: white;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-left: 12px;
}

/* FIM RODAPE*/

/* RESPONSIVIDADE*/

@media(max-width: 950px) {

    /* INÍCIO MAIN */
    .main h1 {
        font-size: 40px;
    }

    .main p {
        font-size: 18px;
    }

    .main {
        background-size: cover;
    }

    /* FIM MAIN */

    /* INÍCIO SOBRE*/

    .sobre {
        flex-direction: column;
        padding: 80px 0 0 0;
        text-align: justify;
    }

    .sobre div {
        max-width: 80%;
    }

    .sobre h2 {
        font-size: 45px;
    }

    .sobre img {
        width: 80%;
        margin-top: 30px;
    }

    /* FIM SOBRE */

    /* INÍCIO PROJETOS */

    .imagens-projetos img {
        width: 30%;

    }

    /* FIM PROJETOS */

    /* INÍCIO RODAPE */

    .rodape {
        flex-direction: column;
    }

    .rodape h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .rodape p {
        margin: 0;
        font-size: 13px;
    }

    /* FIM RODAPE */
}