body {

  width: 100%;
  height: 2000px;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

/* Cabeçalho */

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 0;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
  background-color: rgb(221, 221, 221);
}

#header.scrolled {
  background: #387732;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header.scrolled a {
  color: rgb(221, 221, 221);
}

/* Container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1c5419;
  text-decoration: none;
  cursor: auto;
}

/* Navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #1c5419;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #4CAF50;
}

/*inicio*/

.inicio {

  display: flex;
  /* Ativa o Flexbox */
  gap: 0px;
  width: 100%;
  margin-top: 104px;
  /* Espaçamento entre as divs */
}

.inicio-esquerdo,
.inicio-direito {
  flex: 1;
  /* Ocupam espaço igual */
  padding: 20px;
  background-color: rgb(221, 221, 221);
  border-bottom: 1px solid white;
}

.inicio-esquerdo {

  text-align: end;
  padding-top: 12%;
  border-bottom-left-radius: 300px;
  font-size: 20pt;
  color: #1c5419;
}

.inicio-esquerdo button {

  font-size: 15px;
  color: black;
  text-decoration: none;
  border: 0px none white;
  color: rgb(221, 221, 221);

}

.button1 {
  background-color: #70bd65;
  width: 160px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.button2 {
  background-color: #549a4c;
  width: 194px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}


.inicio-direito {
  border-bottom-right-radius: 20px;
}


/*sobre*/

.sobre {
  display: flex;
  gap: 0px;
  width: 100%;
  margin-top: 100px;
  color: #1c5419;
}

.sobre-esquerdo,
.sobre-direito {
  flex: 1;
  /* Ocupam espaço igual */
  background-color: white;
}

.sobre-esquerdo {
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.sobre-direito {
  padding: 10px 20px 20px 20px;
  text-align: justify;
  padding-right: 110px;
}

.sobre-direito h1 {
  text-decoration: underline;
  height: 45px;
}

.sobre-direito button {

  font-size: 15px;
  color: black;
  text-decoration: none;
  border: 0px none white;
  color: #1c5419;

}

.button3 {
  background-color: #70bd65;
  width: 190px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

/*mentor*/


.mentor {
  display: flex;
  gap: 0px;
  width: 100%;
  margin-top: 70px;
  color: black;
}

.mentor-esquerdo,
.mentor-direito {
  flex: 1;
  /* Ocupam espaço igual */
  background-color: white;
}

.mentor-direito {
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.mentor-esquerdo {
  padding: 10px 0px 20px 120px;
  text-align: justify;
  padding-right: 110px;
}

.mentor-esquerdo h1 {
  text-decoration: underline;
  height: 45px;
}

.mentor-esquerdo button {

  font-size: 15px;
  color: black;
  text-decoration: none;
  border: 0px none white;
  color: black;

}

.button4 {
  background-color: #70bd65;
  width: 190px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

/*mentorando*/


.mentorando {
  display: flex;
  gap: 0px;
  width: 100%;
  margin-top: 70px;
  color: #1c5419;
}

.mentorando-esquerdo,
.mentorando-direito {
  flex: 1;
  /* Ocupam espaço igual */
  background-color: white;
}

.mentorando-esquerdo {
  text-align: center;
  padding: 40px 20px 20px 20px;
}

.mentorando-direito {
  padding: 10px 20px 20px 20px;
  text-align: justify;
  padding-right: 110px;
}

.mentorando-direito h1 {
  text-decoration: underline;
  height: 45px;
}

.mentorando-direito button {

  font-size: 15px;
  color: black;
  text-decoration: none;
  border: 0px none white;
  color: #1c5419;

}

.button5 {
  background-color: #70bd65;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

/*footer*/

footer {
  justify-content: center;
  text-align: center;
  background-color: #387732;
  width: 100%;
}