#header {

  left: 0;
  top: 0;
  width: 100%;
  padding: 8px 0px 8px 0px;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
  background-color: #549a4c;
}

#header.scrolled {
  background: #387732;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header.scrolled a {
  color: rgb(221, 221, 221);
}

/* Container */
.plataforma {
  max-width: 1500px;
  margin: 0px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1c5419;
  text-decoration: none;
  cursor: auto;
}

/* Navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: rgb(40, 40, 40);
}

.usuariologo {
  text-align: center;
}

.sair {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  list-style: none;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 650px;
}

.sidebar {
  width: 200px;
  background-color: #549a4c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background-color: #387732;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #70bd65;
}

.simulados {
  flex: 1;
  padding: 40px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* area de estudos*/

.card1 {
  display: flex;
  background-color: white;
  width: 900px;
  height: 100px;
  margin: 20px;
}

.estudoum {
  padding: 10px 10px 10px 27px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.estudodois {
  padding: 10px 10px 10px 15px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 350px;
}


.card2 {
  display: flex;
  background-color: white;
  width: 1100px;
  height: 100px;
  margin: 20px;

}

.estudotres {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.estudoquatro {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.estudocinco {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 350px;
}

a {
  text-decoration: none;
  color: white;
}

/* area de simulado*/

.card3 {
  display: flex;
  background-color: white;
  width: 900px;
  height: 100px;
  margin: 20px;
}

.simuladoum {
  padding: 10px 10px 10px 27px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladodois {
  padding: 10px 10px 10px 15px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladotres {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 350px;
}


.card4 {
  display: flex;
  background-color: white;
  width: 1100px;
  height: 100px;
  margin: 20px;

}

.simuladoquatro {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladocinco {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladoseis {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.card5 {
  display: flex;
  background-color: white;
  width: 1100px;
  height: 100px;
  margin: 20px;

}

.simuladosete {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladooito {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.simuladonove {
  padding: 10px 10px 10px 0px;
  background-color: #549a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  width: 350px;
}

.alinhamentoDiv {
  display: flex;
}

.ajuda {
  padding: 260px 10px 10px 10px;
}

.estudosDiv {
  width: 100%;
  padding-left: 920px;
}

.agendamento {
  background: white;
  padding: 30px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 70px 25px 10px 40px;
  text-align: center;
}

input[type="date"] {
  padding: 10px;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #549a4c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #70bd65;
}

.info {
  margin-top: 20px;
  text-align: left;
  text-align: center;
}

.agendamentos {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.confirmado {
  color: green;
}

.pendente {
  color: orange;
}

.grafico {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

canvas {
  max-width: 100%;
}